name: Image Build & SonarQube Scan for Jalsoochak Frontend

on:
  push:
    branches: ["main","dev" ]
    paths:
      - 'frontend/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'frontend/**'
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  Docker-Image-Build:
    name: SonarQube scan & push image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Set up node v20
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '20'
          
      - name: Install dependencies
        working-directory: frontend
        run: npm install

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run:  npx sonar-scanner -Dsonar.projectKey=jalsoochak-frontend -Dsonar.organization=arghyam -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} -Dsonar.qualitygate.wait=false
        working-directory: frontend
        
      - name: Configure AWS credentials
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Docker build
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
        env:
          ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build  -t $ECR_REGISTRY/jalsoochak-frontend:$IMAGE_TAG .
          docker push $ECR_REGISTRY/jalsoochak-frontend:$IMAGE_TAG
        working-directory: frontend

